*{
	margin:0;
	padding: 0;
	box-sizing:border-box;
}
  body{height: 100%;
  font-size: 100%;
  font-family: "Times New Roman";
  }

#container{
	margin: auto;
	width: 100%;
	background: white;
	display: flex;
	flex-flow:row wrap;
    background-size: 100%;
}

header{
    width: 80em;
    height: 30em;
    padding: 0.1em 0.1em 0em 0.1em;    
}

header #banner{
    width: 100%; 
    height: 100%;
    background-image: url("img/banne.jpg");      
}

.topleft {
    position: absolute;
    top: 0.8em;
    left: 2em;
    font-size: 2em;
    color: white;
}

nav{
    display: flex;
    width: 100%;
    height: 30%;
    flex direction: nowrap;
    padding: 0em 0.1em 0em 0.1em;
}

nav a{
    text-decoration: none;
    width: 100%;
    text-align: center;
    line-height: 2.3em;
    background: #5d4329;
    color:white;
    transition:all 1.2s;

}
nav a:hover{
    background: black;
    color:white;
}

#lateraliz
    {
     width: 15%; 
     min-height: 20em;
     padding: 0em 0em 0em 0.1em;
    }        

aside
    {
     width: 15%;
     min-height: 20em;
     padding: 0em 0.1em 0em 0em;
    }



.principal{
    background: linear-gradient(135deg, #f3e2c7 4%,#c19e67 21%,#b68d4c 54%,#c19e67 77%,#c19e67 79%,#e9d4b3 94%);
    width: 70%;
    min-height: 20em;
}

.principal article{
    width: 75%;
    background: linear-gradient(135deg, #f3e2c7 4%,#c19e67 21%,#b68d4c 54%,#c19e67 77%,#c19e67 79%,#e9d4b3 94%);
    border-radius: 0.2em;
    margin: 3em auto;  
}

.principal article .tipos{
    width:40em;
    height:30em;
    }
.principal article .tipos img{
    width: 100%;
    height: 100%;
}
.principal article .descripcion{
    text-align: center;
    padding: 0.2em;
    font-size: 2.5em;
}


footer{
    width: 100%;
    height: 1.5em;
    background: #5d4329;
    color: black;
    text-align: center;
    font-weight: bold;
}

ul{
    text-align:center;
}
li{
    list-style-position: inside;
}
ol .menu{
    text-align:center;
}



        
   
 

   
   
